node_modules
dist
.git
.gitignore
.env
.env.*
accounts.json
test
.github
.idea
.vscode
coverage
*.tsbuildinfo
*.log
.DS_Store
docs
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
README.md
LICENSE
ecosystem.config.cjs
